@import "tailwindcss";

.animate-delay-200 {
  animation-delay: 200ms;
}

.animate-delay-400 {
  animation-delay: 400ms;
}

/* Show copy button on code block hover */
.hljs:hover .copy-btn {
  opacity: 1;
}